recursive-include mj_envs/dependencies/Adroit *
recursive-include mj_envs/mj_envs/hand_manipulation_suite/assets *
recursive-include mj_envs/mj_envs.egg-info *
recursive-include mjrl/mjrl/envs/assets *